.list {
  list-style-type: none;
  padding: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image {
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.listItem {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 10px;
}

button:focus {
  outline: none;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: bold;
}

.mt-1 {
  margin-top: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.text-gray-500 {
  color: #777;
}
