.chatRooms {
  margin-top: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.hr {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.chatInfo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.chatInfoText {
  font-size: 18px;
}

.chatButton,
.deleteButton {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatButton {
  background-color: #000;
  margin-left: 10px;
}

.deleteButton {
  background-color: #f00;
  margin-left: 5px;
}
